# Godot 4+ specific ignores
.godot/

# Ignore library files but not the gdextension file
demo/bin/*
!demo/bin/*.gdextension
.sconsign*.dblite

# Ignore custom.py
custom.py

# Ignore extension_api.json
extension_api.json

# Ignore generated compile_commands.json
compile_commands.json

# Ignore gdextension_dir
gdextension/

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log

# VSCode
.vscode/*
!.vscode/extensions.json

# UML
design.puml
design_dep.puml
